{
  "openapi": "3.0.0",
  "info": {
    "title": "BibleCollegeApi",
    "description": "",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://xayw-dlnh-reu2.n7d.xano.io/api:ZqctWT7G"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {

    }
  },
  "paths": {
    "/academic_calendar/{academic_calendar_id}": {
      "delete": {
        "summary": "Delete academic_calendar record.",
        "description": "Delete academic_calendar record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "academic_calendar"
        ],
        "security": [],
        "parameters": [
          {
            "name": "academic_calendar_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {

                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "get": {
        "summary": "Get academic_calendar record",
        "description": "Get academic_calendar record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "academic_calendar"
        ],
        "security": [],
        "parameters": [
          {
            "name": "academic_calendar_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": ""
                    },
                    "event": {
                      "type": "string",
                      "description": ""
                    },
                    "description": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "patch": {
        "summary": "Edit academic_calendar record",
        "description": "Edit academic_calendar record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "academic_calendar"
        ],
        "security": [],
        "parameters": [
          {
            "name": "academic_calendar_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": ""
                    },
                    "event": {
                      "type": "string",
                      "description": ""
                    },
                    "description": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "event": {
                    "type": "string",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "event": {
                    "type": "string",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/academic_calendar": {
      "get": {
        "summary": "Query all academic_calendar records",
        "description": "Query all academic_calendar records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "academic_calendar"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "date": {
                        "type": "string",
                        "format": "date",
                        "description": ""
                      },
                      "event": {
                        "type": "string",
                        "description": ""
                      },
                      "description": {
                        "type": "string",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "summary": "Add academic_calendar record",
        "description": "Add academic_calendar record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "academic_calendar"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": ""
                    },
                    "event": {
                      "type": "string",
                      "description": ""
                    },
                    "description": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "event": {
                    "type": "string",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "event": {
                    "type": "string",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/achievement/{achievement_id}": {
      "delete": {
        "summary": "Delete achievement record.",
        "description": "Delete achievement record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "achievement"
        ],
        "security": [],
        "parameters": [
          {
            "name": "achievement_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {

                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "get": {
        "summary": "Get achievement record",
        "description": "Get achievement record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "achievement"
        ],
        "security": [],
        "parameters": [
          {
            "name": "achievement_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "description": {
                      "type": "string",
                      "description": ""
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": ""
                    },
                    "student_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "patch": {
        "summary": "Edit achievement record",
        "description": "Edit achievement record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "achievement"
        ],
        "security": [],
        "parameters": [
          {
            "name": "achievement_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "description": {
                      "type": "string",
                      "description": ""
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": ""
                    },
                    "student_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "student_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "student_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/achievement": {
      "get": {
        "summary": "Query all achievement records",
        "description": "Query all achievement records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "achievement"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "name": {
                        "type": "string",
                        "description": ""
                      },
                      "description": {
                        "type": "string",
                        "description": ""
                      },
                      "date": {
                        "type": "string",
                        "format": "date",
                        "description": ""
                      },
                      "student_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "summary": "Add achievement record",
        "description": "Add achievement record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "achievement"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "description": {
                      "type": "string",
                      "description": ""
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": ""
                    },
                    "student_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "student_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "student_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/attendance/{attendance_id}": {
      "delete": {
        "summary": "Delete attendance record.",
        "description": "Delete attendance record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "attendance"
        ],
        "security": [],
        "parameters": [
          {
            "name": "attendance_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {

                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "get": {
        "summary": "Get attendance record",
        "description": "Get attendance record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "attendance"
        ],
        "security": [],
        "parameters": [
          {
            "name": "attendance_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": ""
                    },
                    "status": {
                      "type": "string",
                      "description": ""
                    },
                    "student_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "course_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "patch": {
        "summary": "Edit attendance record",
        "description": "Edit attendance record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "attendance"
        ],
        "security": [],
        "parameters": [
          {
            "name": "attendance_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": ""
                    },
                    "status": {
                      "type": "string",
                      "description": ""
                    },
                    "student_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "course_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "status": {
                    "type": "string",
                    "description": ""
                  },
                  "student_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "course_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "status": {
                    "type": "string",
                    "description": ""
                  },
                  "student_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "course_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/attendance": {
      "get": {
        "summary": "Query all attendance records",
        "description": "Query all attendance records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "attendance"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "date": {
                        "type": "string",
                        "format": "date",
                        "description": ""
                      },
                      "status": {
                        "type": "string",
                        "description": ""
                      },
                      "student_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "course_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "summary": "Add attendance record",
        "description": "Add attendance record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "attendance"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "date": {
                      "type": "string",
                      "format": "date",
                      "description": ""
                    },
                    "status": {
                      "type": "string",
                      "description": ""
                    },
                    "student_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "course_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "status": {
                    "type": "string",
                    "description": ""
                  },
                  "student_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "course_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": ""
                  },
                  "status": {
                    "type": "string",
                    "description": ""
                  },
                  "student_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "course_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campus/{campus_id}": {
      "delete": {
        "summary": "Delete campus record.",
        "description": "Delete campus record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "campus"
        ],
        "security": [],
        "parameters": [
          {
            "name": "campus_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {

                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "get": {
        "summary": "Get campus record",
        "description": "Get campus record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "campus"
        ],
        "security": [],
        "parameters": [
          {
            "name": "campus_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "address": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "patch": {
        "summary": "Edit campus record",
        "description": "Edit campus record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "campus"
        ],
        "security": [],
        "parameters": [
          {
            "name": "campus_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "address": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "address": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "address": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/campus": {
      "get": {
        "summary": "Query all campus records",
        "description": "Query all campus records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "campus"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "name": {
                        "type": "string",
                        "description": ""
                      },
                      "address": {
                        "type": "string",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "summary": "Add campus record",
        "description": "Add campus record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "campus"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "address": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "address": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "address": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/church/{church_id}": {
      "delete": {
        "summary": "Delete church record.",
        "description": "Delete church record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "church"
        ],
        "security": [],
        "parameters": [
          {
            "name": "church_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {

                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "get": {
        "summary": "Get church record",
        "description": "Get church record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "church"
        ],
        "security": [],
        "parameters": [
          {
            "name": "church_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "church_name": {
                      "type": "string",
                      "description": ""
                    },
                    "church_address": {
                      "type": "string",
                      "description": ""
                    },
                    "church_phone": {
                      "type": "string",
                      "description": ""
                    },
                    "pastor_name": {
                      "type": "string",
                      "description": ""
                    },
                    "pastor_phone": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "patch": {
        "summary": "Edit church record",
        "description": "Edit church record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "church"
        ],
        "security": [],
        "parameters": [
          {
            "name": "church_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "church_name": {
                      "type": "string",
                      "description": ""
                    },
                    "church_address": {
                      "type": "string",
                      "description": ""
                    },
                    "church_phone": {
                      "type": "string",
                      "description": ""
                    },
                    "pastor_name": {
                      "type": "string",
                      "description": ""
                    },
                    "pastor_phone": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "church_name": {
                    "type": "string",
                    "description": ""
                  },
                  "church_address": {
                    "type": "string",
                    "description": ""
                  },
                  "church_phone": {
                    "type": "string",
                    "description": ""
                  },
                  "pastor_name": {
                    "type": "string",
                    "description": ""
                  },
                  "pastor_phone": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "church_name": {
                    "type": "string",
                    "description": ""
                  },
                  "church_address": {
                    "type": "string",
                    "description": ""
                  },
                  "church_phone": {
                    "type": "string",
                    "description": ""
                  },
                  "pastor_name": {
                    "type": "string",
                    "description": ""
                  },
                  "pastor_phone": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/church": {
      "get": {
        "summary": "Query all church records",
        "description": "Query all church records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "church"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "church_name": {
                        "type": "string",
                        "description": ""
                      },
                      "church_address": {
                        "type": "string",
                        "description": ""
                      },
                      "church_phone": {
                        "type": "string",
                        "description": ""
                      },
                      "pastor_name": {
                        "type": "string",
                        "description": ""
                      },
                      "pastor_phone": {
                        "type": "string",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "summary": "Add church record",
        "description": "Add church record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "church"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "church_name": {
                      "type": "string",
                      "description": ""
                    },
                    "church_address": {
                      "type": "string",
                      "description": ""
                    },
                    "church_phone": {
                      "type": "string",
                      "description": ""
                    },
                    "pastor_name": {
                      "type": "string",
                      "description": ""
                    },
                    "pastor_phone": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "church_name": {
                    "type": "string",
                    "description": ""
                  },
                  "church_address": {
                    "type": "string",
                    "description": ""
                  },
                  "church_phone": {
                    "type": "string",
                    "description": ""
                  },
                  "pastor_name": {
                    "type": "string",
                    "description": ""
                  },
                  "pastor_phone": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "church_name": {
                    "type": "string",
                    "description": ""
                  },
                  "church_address": {
                    "type": "string",
                    "description": ""
                  },
                  "church_phone": {
                    "type": "string",
                    "description": ""
                  },
                  "pastor_name": {
                    "type": "string",
                    "description": ""
                  },
                  "pastor_phone": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/course/{course_id}": {
      "delete": {
        "summary": "Delete course record.",
        "description": "Delete course record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course"
        ],
        "security": [],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {

                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "get": {
        "summary": "Get course record",
        "description": "Get course record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course"
        ],
        "security": [],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "code": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "description": {
                      "type": "string",
                      "description": ""
                    },
                    "notes": {
                      "type": "string",
                      "description": ""
                    },
                    "meeting_time": {
                      "type": "string",
                      "description": ""
                    },
                    "teacher_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "meeting_location_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "semester_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "patch": {
        "summary": "Edit course record",
        "description": "Edit course record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course"
        ],
        "security": [],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "code": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "description": {
                      "type": "string",
                      "description": ""
                    },
                    "notes": {
                      "type": "string",
                      "description": ""
                    },
                    "meeting_time": {
                      "type": "string",
                      "description": ""
                    },
                    "teacher_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "meeting_location_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "semester_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "code": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  },
                  "notes": {
                    "type": "string",
                    "description": ""
                  },
                  "meeting_time": {
                    "type": "string",
                    "description": ""
                  },
                  "teacher_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "meeting_location_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "semester_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": ""
                  },
                  "code": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "description": {
                    "type": "string",
                    "description": ""
                  },
                  "notes": {
                    "type": "string",
                    "description": ""
                  },
                  "meeting_time": {
                    "type": "string",
                    "description": ""
                  },
                  "teacher_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "meeting_location_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "semester_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/course_textbook/{course_textbook_id}": {
      "delete": {
        "summary": "Delete course_textbook record.",
        "description": "Delete course_textbook record.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course_textbook"
        ],
        "security": [],
        "parameters": [
          {
            "name": "course_textbook_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {

                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "get": {
        "summary": "Get course_textbook record",
        "description": "Get course_textbook record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course_textbook"
        ],
        "security": [],
        "parameters": [
          {
            "name": "course_textbook_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "course_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "textbook_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "patch": {
        "summary": "Edit course_textbook record",
        "description": "Edit course_textbook record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course_textbook"
        ],
        "security": [],
        "parameters": [
          {
            "name": "course_textbook_id",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "course_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "textbook_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "course_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "textbook_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "course_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "textbook_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/course_textbook": {
      "get": {
        "summary": "Query all course_textbook records",
        "description": "Query all course_textbook records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course_textbook"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "course_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "textbook_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "summary": "Add course_textbook record",
        "description": "Add course_textbook record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course_textbook"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "course_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "textbook_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "course_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "textbook_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "course_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  },
                  "textbook_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/course": {
      "get": {
        "summary": "Query all course records",
        "description": "Query all course records\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "created_at": {
                        "type": "number",
                        "format": "timestamptz",
                        "description": "",
                        "default": "now"
                      },
                      "name": {
                        "type": "string",
                        "description": ""
                      },
                      "code": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "description": {
                        "type": "string",
                        "description": ""
                      },
                      "notes": {
                        "type": "string",
                        "description": ""
                      },
                      "meeting_time": {
                        "type": "string",
                        "description": ""
                      },
                      "teacher_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "meeting_location_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      },
                      "semester_id": {
                        "type": "integer",
                        "format": "int64",
                        "description": ""
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
          },
          "404": {
            "description": "Not Found. The requested resource does not exist."
          },
          "429": {
            "description": "Rate Limited. Too many requests."
          },
          "500": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "summary": "Add course record",
        "description": "Add course record\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required",
        "operationId": "",
        "tags": [
          "course"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "created_at": {
                      "type": "number",
                      "format": "timestamptz",
                      "description": "",
                      "default": "now"
                    },
                    "name": {
                      "type": "string",
                      "description": ""
                    },
                    "code": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "description": {
                      "type": "string",
                      "description": ""
                    },
                    "notes": {
                      "type": "string",
                      "description": ""
                    },
                    "meeting_time": {
                      "type": "string",
                      "description": ""
                    },
                    "teacher_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "meeting_location_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    },
                    "semester_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input Error. Check the request payload for issues."
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Access denied. Additional privileges are needed access the requested resource."
[...]
